<style>
    .container {
        display: flex;
        align-items: stretch;
        height: 100vh; /* Ajuster la hauteur à la taille de l'écran */
    }
    .content {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 400px;
        margin-right: auto; /* Pour pousser le contenu vers la gauche */
        display: flex;
        flex-direction: column; /* Pour empiler les éléments à l'intérieur */
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    label {
        font-weight: bold;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Inscription</h1>
            <%= form_for(@user, url: users_path, class: "needs-validation", novalidate: true) do |form| %>
                <div class="form-group">
                    <%= form.label :first_name, "Prénom" %>
                    <%= form.text_field :first_name, class: "form-control", required: true %>
                    <div class="invalid-feedback">
                        Ce champ est requis.
                    </div>
                </div>
                <div class="form-group">
                    <%= form.label :last_name, "Nom" %>
                    <%= form.text_field :last_name, class: "form-control", required: true %>
                    <div class="invalid-feedback">
                        Ce champ est requis.
                    </div>
                </div>
                <div class="form-group">
                    <%= form.label :email %>
                    <%= form.email_field :email, class: "form-control", required: true %>
                    <div class="invalid-feedback">
                        Veuillez fournir une adresse e-mail valide.
                    </div>
                </div>
                <div class="form-group">
                    <%= form.label :password, "Mot de passe" %>
                    <%= form.password_field :password, class: "form-control", required: true %>
                    <div class="invalid-feedback">
                        Veuillez fournir un mot de passe.
                    </div>
                </div>
                <div class="form-group">
                    <%= form.label :password_confirmation, "Confirmation du mot de passe" %>
                    <%= form.password_field :password_confirmation, class: "form-control", required: true %>
                    <div class="invalid-feedback">
                        Veuillez confirmer votre mot de passe.
                    </div>
                </div>
                <div class="form-group">
                    <%= form.label :city_id, "Ville" %>
                    <%= form.collection_select :city_id, City.all, :id, :name, {}, { class: "form-control", required: true } %>
                    <div class="invalid-feedback">
                        Veuillez choisir une ville.
                    </div>
                </div>
                <div class="form-group">
                    <%= form.label :age, "Âge" %>
                    <%= form.number_field :age, class: "form-control", required: true %>
                    <div class="invalid-feedback">
                        Veuillez fournir un âge valide.
                    </div>
                </div>
                <%= form.submit "S'inscrire", class: "btn btn-primary btn-block" %>
            <% end %>
           
        </div>
        <div class="image">
        <img src="https://www.muralsticker.com/25455-thickbox/vinyle-decoratif-de-donald-duck-neveux.jpg" alt="famille duck">
        </div>
    </div>
</body>
